@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Handlee&family=Inter:wght@300&family=Lobster+Two:ital@1&family=Poppins:wght@300&family=Roboto:wght@300;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

footer{
 
    font-family: 'Lobster   ',sens-serif ;
    color: rgb(188, 186, 186);
}

@media screen and (max-width:767px){
    .carousel-caption h1{
        font-size: 30px;
        padding: 5px;
    }
    .carousel-caption p{
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px;
    }
    #card{
        display: flex;
        flex-direction: column;
       
    }
    #card-body{
        padding: 10px 10px;
    }
}